<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>新增消息--系统消息管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{//at.alicdn.com/t/font_974748_0ivq0nqh8i9j.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/fonts/iconfont.css}" media="all"/>
    <style type="text/css">
        .layui-form-item .layui-inline {
            min-width: 15%;
            float: left;
            margin-right: 0;
        }

        .layui-form-item .role-box {
            position: relative;
        }

        body {
            margin: 0px;
            padding: 0px;
            background-color: #d2d2d2;
        }

        .layui-card {
            margin-top: 10px;
        }
        .nameTitle{
            font-size: large;
            font-style: inherit;
        }
    </style>
</head>
<body>
<div class="layui-container">
    <form class="layui-form" th:method="post" enctype="multipart/form-data;charset=UTF-8">
        <div class="layui-row">
            <div class="layui-row layui-col-space12">
                <div class="layui-col-md6 layui-col-md-offset3">
                    <div class="layui-card">
                        <div class="layui-card-header nameTitle">单发消息</div>
                        <div class="layui-card-body">
                            <div class="layui-row">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">接收人:</label>
                                    <div class="layui-input-block">
                                        <select id="init"  name="toUser" lay-filter="selected" lay-verify="required" lay-search="">
                                            <option class="init"  value="1">直接添加或选择</option>
                                            <div th:each="user : ${userList}">
                                                <option th:value="${user.id}" th:text="${user.nickName}"></option>
                                            </div>
                                        </select>
                                       <!-- <input type="text" name="toUser" required lay-verify="required" placeholder="请输入接收人" autocomplete="off"
                                               class="layui-input">-->
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">消息标题:</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" required lay-verify="required" placeholder="请输入名称" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">消息类型:</label>
                                    <div class="layui-input-block">
                                      <!--  <select id="init"  name="messageType" lay-filter="selected" lay-verify="required" lay-search="">
                                            <option class="init"  value="1">直接添加或选择</option>
                                            <div th:each="message : ${messsageList}">
                                                <option th:value="${message.id}" th:text="${message.messageType}"></option>
                                            </div>
                                        </select>-->
                                        <input type="text" name="messageType" required lay-verify="required" placeholder="请输入类别" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">消息内容:</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="content" class="layui-input" lay-verify="required"  style="margin-top: 30px;" placeholder="请输入内容">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">备注说明:</label>
                                    <div class="layui-input-block" style="margin-top: 30px;">
                                        <textarea placeholder="一些可有可无的备注罢了.." name="remarks" class="layui-textarea"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <shiro:hasPermission name="user:message:add">
                    <div class="layui-form-item" style="padding-left: 30%;">
                        <div class="layui-input-block">
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            <button class="layui-btn" lay-submit="" lay-filter="addMessage">立即提交</button>
                        </div>
                    </div>
                </shiro:hasPermission>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/message/messageAdd.js}"></script>
</body>
</html>