<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.admin.mapper.FarmMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.xiaoshu.admin.entity.Farm">
    <result column="id" property="id" />
    <result column="name" property="name" />
    <result column="location" property="location" />
    <result column="size" property="size" />
    <result column="create_by" property="createId" />
    <result column="create_date" property="createDate" />
    <result column="update_by" property="updateId" />
    <result column="update_date" property="updateDate" />
    <result column="remarks" property="remarks" />
    <result column="del_flag" property="delFlag" />
    <result column="temperature" property="temperature" />
    <result column="humidity" property="humidity" />
    <result column="illumination" property="illumination" />
    <result column="userId" property="userId" />
    <collection property="user"  ofType="com.xiaoshu.admin.entity.User">
      <result property="id" column="user.id"/>
      <result property="loginName" column="login_name"/>
      <result property="nickName" column="nick_name"/>
    </collection>
  </resultMap>



  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
      id, name, location, size, create_by, create_date, update_by, update_date,remarks,del_flag,userId
   </sql>



  <resultMap type="com.xiaoshu.admin.entity.Farm" id="FarmMap">
    <result column="id" property="id" />
    <result column="name" property="name" />
    <result column="location" property="location" />
    <result column="size" property="size" />
    <result column="create_by" property="createId" />
    <result column="create_date" property="createDate" />
    <result column="update_by" property="updateId" />
    <result column="update_date" property="updateDate" />
    <result column="remarks" property="remarks" />
    <result column="del_flag" property="delFlag" />
    <result column="userId" property="userId" />
    <result column="temperature" property="temperature" />
    <result column="humidity" property="humidity" />
    <result column="illumination" property="illumination" />
    <collection property="user"  ofType="com.xiaoshu.admin.entity.User">
      <result property="id" column="user.id"/>
      <result property="loginName" column="login_name"/>
      <result property="nickName" column="nick_name"/>
    </collection>
  </resultMap>

  <select id="getFarmByUserId" resultMap="FarmMap" parameterType="java.lang.String">
    SELECT
    tf.id,
    tf.name,
    tf.location,
    tf.size,
    tf.create_date,
    tf.create_by,
    tf.update_date,
    tf.update_by,
    tf.remarks,
    tf.del_flag,
    tf.temperature,
    tf.humidity,
    tf.illumination,
    su.id,
    su.nick_name
    from
    t_farm tf
    left join sys_user  su 	on 	    su.id = tf.userId
    where
    su.del_flag = FALSE
    AND
    tf.del_flag = FALSE
    <if test="userId != '' and userId != null">
      and tf.userId = #{userId}
    </if>
  </select>
  <select id="selectFarmById" resultMap="FarmMap"  parameterType="java.lang.String">
    SELECT
    tf.id,
    tf.name,
    tf.location,
    tf.size,
    tf.create_date,
    tf.create_by,
    tf.update_date,
    tf.update_by,
    tf.remarks,
    tf.del_flag,
    tf.temperature,
    tf.humidity,
    tf.illumination,
    su.id,
    su.nick_name
    from
    t_farm tf
    left join sys_user  su 	on 	    su.id = tf.userId
    where
    su.del_flag = FALSE
    AND
    tf.del_flag = FALSE
    <if test="id != '' and id != null">
      and tf.id = #{id}
    </if>
  </select>


</mapper>