<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.admin.mapper.FarmDataMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.xiaoshu.admin.entity.FarmData">
    <result column="id" property="id" />
    <result column="time" property="time" />
    <result column="temperature" property="temperature" />
    <result column="humidity" property="humidity" />
    <result column="illumination" property="illumination" />
    <result column="farm_id" property="farmId" />
    <result column="area" property="area" />
    <result column="alert_flag" property="alertFlag" />
    <collection property="farm"  ofType="com.xiaoshu.admin.entity.Farm">
      <result property="id" column="farm.id"/>
      <result property="name" column="name"/>
      <result property="location" column="location"/>
      <result property="temperature" column="temperature"/>
      <result property="humidity" column="humidity"/>
      <result property="illumination" column="illumination"/>
    </collection>
  </resultMap>
  <resultMap id="BaseResultMap01" type="com.xiaoshu.admin.entity.FarmData">
    <result column="id" property="id" />
    <result column="time" property="time" />
    <result column="temperature" property="temperature" />
    <result column="humidity" property="humidity" />
    <result column="illumination" property="illumination" />
    <result column="farm_id" property="farmId" />
    <result column="area" property="area" />
    <result column="alert_flag" property="alertFlag" />
  </resultMap>


  <resultMap type="com.xiaoshu.admin.entity.FarmData" id="FarmDataMap">
    <result column="id" property="id" />
    <result column="time" property="time" />
    <result column="temperature" property="temperature" />
    <result column="humidity" property="humidity" />
    <result column="illumination" property="illumination" />
    <result column="farm_id" property="farmId" />
    <result column="area" property="area" />
    <result column="alert_flag" property="alertFlag" />
    <collection property="farm"  ofType="com.xiaoshu.admin.entity.Farm">
      <result property="id" column="farm_id"/>
      <result property="name" column="name"/>
      <result property="location" column="location"/>
      <result property="temperature" column="temperature"/>
      <result property="humidity" column="humidity"/>
      <result property="illumination" column="illumination"/>
    </collection>
    <collection property="farmArea"  ofType="com.xiaoshu.admin.entity.FarmArea">
      <result property="id" column="area"/>
      <result property="farmId" column="farm_id"/>
      <result property="areaName" column="area_name"/>
    </collection>
  </resultMap>

  <resultMap type="com.xiaoshu.admin.entity.FarmArea02" id="FarmAreaDataMap">
    <result property="id" column="id"/>
      <result property="area" column="area"/>
      <result property="farmId" column="farm_id"/>
      <result property="areaName" column="area_name"/>
  </resultMap>

  <update id="updateOnlyAlertFlag" parameterType="com.xiaoshu.admin.entity.FarmData">
    UPDATE nongtianmysqldata
            SET alert_flag=#{alertFlag}
            WHERE id=#{id}
  </update>

  <select id="getNotAlertFarmData" resultMap="FarmDataMap" resultType="java.lang.Integer">
    SELECT
    /*fa.id,*/
    fa.farm_id,
    fa.area,
    fa.area_name,
    nt.id,
    nt.time,
    nt.temperature,
    nt.humidity,
    nt.illumination,
    nt.farm_id,
    nt.area,
    nt.alert_flag,
    /*tf.id,*/
    tf.name,
    tf.location,
    tf.temperature,
    tf.humidity,
    tf.illumination
    from
    farm_area fa
    LEFT JOIN
    nongtianmysqldata nt ON fa.area=nt.area AND fa.farm_id=nt.farm_id
    left join t_farm  tf 	on 	tf.id= fa.farm_id
    <where>
      nt.alert_flag=0
      AND
      nt.farm_id=#{farmId}
    </where>
    ORDER BY  nt.time ASC ;
  </select>
  <select id="getFarmAreaByFarmArea"  resultMap="FarmAreaDataMap">
    SELECT * FROM farm_area WHERE farm_id=#{farmId} AND  area=#{area};
  </select>
  <insert  id="saveParseJsonData" parameterType="com.xiaoshu.admin.entity.FarmData">
    INSERT INTO nongtianmysqldata
        (time,temperature,humidity,illumination,farm_id,area,sensor1_temperature_flag,sensor1_humidity_flag,sensor1_illumination_flag,alert_flag)
        VALUES
        (now(),#{temperature},#{humidity},#{illumination},#{farmId},#{area},#{sensor1_temperature_flag},#{sensor1_humidity_flag},#{sensor1_illumination_flag},0);
  </insert>
  <!--<insert  id="saveParseJsonData" parameterType="com.xiaoshu.admin.entity.FarmData">


    INSERT INTO nongtianmysqldata
        (time,temperature,humidity,illumination,farm_id,area,sensor1_temperature_flag,sensor1_humidity_flag,sensor1_illumination_flag,alert_flag)
        VALUES
        (now(),#{temperature},#{humidity},#{illumination},#{farmId},#{area},#{sensor1_temperature_flag},#{sensor1_humidity_flag},#{sensor1_illumination_flag},#{alertFlag});

  </insert>-->
 <!-- <select id="getFarmDataDetail" resultMap="FarmDataMap">
    SELECT
    fa.id,
    fa.farm_id,
    fa.area,
    fa.area_name,
    nt.id,
    nt.time,
    nt.temperature,
    nt.humidity,
    nt.illumination,
    nt.farm_id,
    nt.area,
    tf.id,
    tf.name,
    tf.location,
    tf.temperature,
    tf.humidity,
    tf.illumination
    from
    farm_area fa ,nongtianmysqldata nt , t_farm tf
    WHERE
    fa.area=nt.area
    and fa.farm_id=nt.farm_id
    and tf.id= fa.farm_id
    and tf.del_flag = FALSE
    and fa.farm_id = #{farmId}
    and fa.area = #{area}
    ORDER BY nt.time ASC ;
  </select>-->
  <select id="getFarmDataDetail" resultMap="FarmDataMap">
    SELECT
    fa.id,
    fa.farm_id,
    fa.area,
    fa.area_name,
    nt.id,
    nt.time,
    nt.temperature,
    nt.humidity,
    nt.illumination,
    nt.farm_id,
    nt.area,
    tf.id,
    tf.name,
    tf.location,
    tf.temperature,
    tf.humidity,
    tf.illumination
    from
    farm_area fa
    LEFT JOIN
    nongtianmysqldata nt ON fa.area=nt.area AND fa.farm_id=nt.farm_id
    left join t_farm  tf 	on 	tf.id= fa.farm_id
    <where>
      tf.del_flag = FALSE
      <if test="farmId != '' and farmId != null">
        and fa.farm_id = #{farmId}
      </if>
      <if test="area != '' and area != null">
        and fa.area = #{area}
      </if>
      <if test="lastTime != '' and lastTime != null and nextTime != '' and nextTime != null">
        and nt.time between #{lastTime} and #{nextTime}
      </if>
    </where>
    ORDER BY  nt.time ASC ;
  </select>

  <select id="getMostNewFarmData" resultMap="FarmDataMap" parameterType="java.lang.Integer">
    SELECT
    nt.id,
    nt.time,
    nt.temperature,
    nt.humidity,
    nt.illumination,
    nt.farm_id,
    nt.area,
    tf.id,
    tf.name,
    tf.location,
    tf.temperature,
    tf.humidity,
    tf.illumination
    from
    nongtianmysqldata nt
    left join t_farm  tf 	on 	    nt.farm_id = tf.id
    where
    tf.del_flag = FALSE
    <if test="farmId != '' and farmId != null">
      and tf.id = #{farmId}
    </if>
    ORDER BY  nt.time ASC  limit 1;
  </select>
  
  <select id="getFarmDataByFarmId" resultMap="FarmDataMap" parameterType="java.lang.Integer">
    SELECT
    nt.id,
    nt.time,
    nt.temperature,
    nt.humidity,
    nt.illumination,
    nt.farm_id,
    nt.area,
    tf.id,
    tf.name,
    tf.location,
    tf.temperature,
    tf.humidity,
    tf.illumination
    from
    nongtianmysqldata nt
    left join t_farm  tf 	on 	    nt.farm_id = tf.id
    where
    tf.del_flag = FALSE
    <if test="farmId != '' and farmId != null">
      and tf.id = #{farmId}
    </if>
    ORDER BY  nt.time ASC ;
  </select>
  <select id="selectFarmDataById" resultMap="FarmDataMap"  parameterType="java.lang.Integer">
    SELECT
    nt.id,
    nt.time,
    nt.temperature,
    nt.humidity,
    nt.illumination,
    nt.farm_id,
    tf.id,
    tf.name,
    tf.location,
    tf.temperature,
    tf.humidity,
    tf.illumination
    from
    nongtianmysqldata nt
    left join t_farm  tf 	on 	    nt.farm_id = tf.id
    where
    tf.del_flag = FALSE
    <if test="id != '' and id != null">
      and nt.id = #{id}
    </if>
    ORDER BY  nt.time ASC ;
  </select>


</mapper>