<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>农田主龙农田管理员管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/admin/css/list.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/fonts/iconfont.css}" media="all"/>
    <link rel="stylesheet" th:href="@{//at.alicdn.com/t/font_974748_0ivq0nqh8i9j.css}" media="all"/>
    <style type="text/css">
        .iconfontLogo{
            font-size: 35px;
            margin-left: 10px;
        }
    </style>
</head>
<body class="childrenBody">
<fieldset class="layui-elem-field">
    <legend>农田管理员检索</legend>
    <div class="layui-field-box">
        <form class="layui-form">
            <div class="layui-inline">
                <input type="text" value="" name="s_key" placeholder="可以输入管理员昵称" class="layui-input search_input">
            </div>
            <div class="layui-input-inline">
                <a class="layui-btn" lay-submit="" lay-filter="searchForm">查询</a>
            </div>

                <div class="layui-inline">
                    <a class="layui-btn layui-btn-normal" data-type="addFarm">添加管理员</a>
                </div>

          <!--  <shiro:hasPermission name="farm:user:delete">
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-danger" data-type="deleteSome">批量删除</a>
                </div>
            </shiro:hasPermission>-->
                <div class="layui-inline" style="margin-left: 400px">
                    <a class="layui-btn" data-type="">管理员类别</a>
                </div>

                <div class="layui-inline">
                    <span class="iconfont iconfontLogo">&#xe6a2;</span>
                    <span class="layui-badge layui-bg-green" th:text="${tepmerManagerCount}"></span>
                    <!--<a class="layui-btn layui-btn-normal" data-type="deleteSome">1</a>-->
                </div>


                <div class="layui-inline">
                    <span class="iconfont iconfontLogo">&#xe609;</span>
                    <span class="layui-badge layui-bg-green" th:text="${humManagerCount}"></span>
                    <!--<a class="layui-btn layui-btn-normal" data-type="deleteSome">3</a>-->
                </div>


                <div class="layui-inline">
                    <span class="iconfont iconfontLogo">&#xe63b;</span>
                    <span class="layui-badge layui-bg-green" th:text="${illManagerCount}"></span>
                    <!--<a class="layui-btn layui-btn-normal" data-type="deleteSome">5</a>-->
                </div>

        </form>
    </div>
</fieldset>

<div class="layui-form users_list">
    <table class="layui-table" id="farmManager-table" lay-filter="farmManagerList"></table>
    <script type="text/html" id="farmManagerBar">

        <!--<shiro:hasPermission name="farm:user:delete">-->
            <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
        <!--</shiro:hasPermission>-->

            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    </script>
</div>
<div id="page"></div>



<script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/tools.js}"></script>
<script type="text/javascript" th:src="@{//at.alicdn.com/t/font_974748_wjk5z1f6gsl.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/farmmanager/farmmanagerList.js}"></script>
</body>
</html>